extends template/layout.pug

block content
 .m-content
    .m-portlet
      .m-portlet__head
        .m-portlet__head-caption
          .m-portlet__head-title
            h3.m-portlet__head-text
              | Event Details
      .row
        .col-lg-6  
          form.m-form.m-form--fit.m-form--label-align-right
            .m-portlet__body
              .form-group.m-form__group.row
                .col-lg-12.col-md-12.col-sm-12
                  label
                      b Event ID
                  p#eventid
                  label
                      b Log Name
                  p#log_name 
                  label
                      b Source 
                  p#source 
                  label
                      b Task Category 
                  p#task_category 
                  label
                      b  Level 
                  p#level 
        .col-lg-6
          form.m-form.m-form--fit.m-form--label-align-right
            .m-portlet__body
              .form-group.m-form__group.row
                .col-lg-12.col-md-12.col-sm-12
                  label(for='exampleTextarea')
                      | Script
                  textarea#exampleTextarea.form-control.m-input.m-input--air(rows='10')
                      | 
              .m-form__actions.m-form__actions
                .row
                  .col-lg-4.col-md-4.col-sm-5.ml-lg-auto
                    button#m_script_save.btn.btn-brand(type='reset')
                      | Save
               
    .m-portlet.m-portlet--mobile
      .m-portlet__head
        .m-portlet__head-caption
          .m-portlet__head-title
            h3.m-portlet__head-text
              | Event Log
      .m-portlet__body
        .m-form.m-form--label-align-right.m--margin-top-20.m--margin-bottom-30
          .row.align-items-center
            .col-xl-8.order-2.order-xl-1
              .form-group.m-form__group.row.align-items-center
                .col-md-4
                  .m-input-icon.m-input-icon--left
                    input#eventSearch.form-control.m-input.m-input--solid(type='text' placeholder='Search...')
                    span.m-input-icon__icon.m-input-icon__icon--left
                      span
                        i.la.la-search

        .m_data_event_log

block data_script
  script(src='/admin/js/data-event-detail.js' type='text/javascript')

