extends template/layout.pug
block body
  body(style='background-image: url(/client/img/bg_changepassword.png);')
    .row
      .col-md-12
        header
          .row.header
            .col-md-1.col-sm-1
            .col-md-3.col-sm-3
              a.m-brand__logo-wrapper(href='/dashboard' style='width: 100%')
                img.logo_img(src='/client/img/mark2.png' alt='')
            .col-md-7.col-sm-7.btn_head(align='right')
              button#btn_download.btn.m-btn--pill.btn-secondary.m-btn.m-btn--custom.m-btn--label-warning.m-btn--bolder.m-btn--uppercase(type='button' style='margin-right:30px;')
                  | DownLoad
              include template/layout_menu.pug
            .col-md-1.col-sm-1
        content
          .row.content
            .col-md-1.col-sm-1
            .col-md-3.col-sm-12
              img(clsss='logo-txt' src='/client/img/txt_changepass.png' alt='')
            .col-md-4.col-sm-12(style="margin-top:50px;text-align:center;")
              form.m-login__form.m-form(style='width:100%' action='')
                .form-group.m-form__group
                  div(style='width: 100%; height: 40px; margin-top: 100px; border-style: solid; border-width: 1px;border-color: lightgrey; border-radius: 25px; text-align:left')
                    input.btn.m-btn--pill.m-btn--gradient-to-warning(type='password' placeholder='Old Password' name="old_password" autocomplete='off' style=' width: 100%;height: 100%; font-size: 100%;text-align: left')
                .form-group.m-form__group
                  div(style='height: 40px;border-style: solid; border-width: 1px;border-color: lightgrey; border-radius: 25px;text-align:left')
                    input.btn.m-btn--pill.m-btn--gradient-to-warning(type='password' placeholder='New Password' name='new_password' style='width: 100%;height: 100%; font-size: 100%;text-align: left')
                .form-group.m-form__group
                  div(style='height: 40px;border-style: solid; border-width: 1px;border-color: lightgrey; border-radius: 25px;text-align:left')
                    input.btn.m-btn--pill.m-btn--gradient-to-warning(type='password' placeholder='Confirm Password' name='new_rpassword' style='width: 100%;height: 100%; font-size: 100%;text-align: left')
                button#btn_change_password.btn.m-btn--pill.m-btn.m-btn--gradient-from-danger.m-btn--gradient-to-warning(type='button' style='width: 40%;height: 50px; font-size: 150%; margin-top: 40px;')
                  | Change
            .col-md-1.col-sm-1
          include template/layout_footer.pug

block script
  script(src='/client/js/login.js' type='text/javascript')