extends template/layout.pug
block body
  body(style='background-image: url(/client/img/bg_login.png);')
    .row
      .col-md-12
        header
          .row.header
            .col-md-1.col-sm-1
            .col-md-3.col-sm-3
              a.m-brand__logo-wrapper(href='#' style='width: 100%')
                img.logo_img(src='/client/img/mark1.png' alt='')
            .col-md-7.col-sm-7.btn_head(align='right')
            .col-md-1.col-sm-1
        // begin::Body
        content
          .row.content
            .col-md-1.col-sm-1
            .col-md-4.col-sm-4
              form
                legend Your request expired. Please try again.
                .form-group
                  button#btn_to_login.btn.btn-primary(style='margin-top:30px') Login Page
            .col-md-1.col-sm-1
          //- include template/layout_footer.pug
block script
  script(src='/client/js/resetpassword.js' type='text/javascript')