extends template/layout.pug
block body
  body(style='background-image: url(/client/img/bg_subscription.png);')
    .row
      .col-md-12
        header
          .row.header
            .col-md-1.col-sm-1
            .col-md-3.col-sm-3
              a.m-brand__logo-wrapper(href='/dashboard' style='width: 100%')
                img.logo_img(src='/client/img/mark2.png' alt='')
            .col-md-7.col-sm-7.btn_head(align='right')
              button#btn_download.btn.m-btn--pill.btn-secondary.m-btn.m-btn--custom.m-btn--label-warning.m-btn--bolder.m-btn--uppercase(type='button' style='margin-right:30px;')
                  | DownLoad
              include template/layout_menu.pug
            .col-md-1.col-sm-1
        content
          .row.content
            .row
              .col-md-5.col-sm-1
              .col-md-3.col-sm-10
                img(clsss='logo-txt' src='/client/img/txt_subscription.png' alt='')
              .col-md-3.col-sm-1
            .row
              .col-md-3.col-sm-1
              .m-portlet.m-portlet--tab.col-md-3.col-sm-5.subcription_area
                img(alt='' src='/client/img/txt_monthly.png' style='margin-top: 40px')
                p.subscription_txt
                  | You can use this programe for a month by this payment.
                  | Your payment information is protected.
                  br
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;$10 payment.
                p.subscription_txt
                  | 
                button.btn.m-btn--pill.m-btn.m-btn--gradient-from-danger.m-btn--gradient-to-warning(type='button' style='width: 50%;height: 50px; font-size: 100%; margin-top: 35px' data-toggle='modal' data-target='#monthlyModal')
                  | Subscription
              .m-portlet.m-portlet--tab.col-md-3.col-sm-5.subcription_area
                img(alt='' src='/client/img/txt_yearly.png' style='margin-top: 40px')
                p.subscription_txt
                  | You can use this programe for a month by this payment.
                  | Your payment information is protected.
                  br
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;$100 payment.
                p.subscription_txt
                  | 
                button.btn.m-btn--pill.m-btn.m-btn--gradient-from-danger.m-btn--gradient-to-warning(type='button' style='width: 50%;height: 50px; font-size: 100%; margin-top: 35px' data-toggle='modal' data-target='#yearlyModal')
                  | Subscription
              .col-md-3.col-sm-1
            // begin::monthly Dialog
            #monthlyModal.modal.fade(style='top: 25%;  position: absolute; ')
              .modal-dialog
                .modal-content
                  .row
                    .col-md-3.col-sm-3
                    .col-md-36.col-sm-6(style='padding-top: 30px; text-align: center')
                      img(src='/client/img/txt_monthly.png' alt='')
                    .col-md-3.col-sm-3(style='padding-right: 20px;')
                      button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                  .row.modal-body
                    .col-md-1.col-sm-1
                    .col-md-10.col-sm-10
                      form.m-login__form.m-form(style='width:100%' action='')
                        input(type='hidden' placeholder='userid' name='userid' id='userid' value=id)
                        input(type='hidden' placeholder='Email' id='email_y' name='email' value=email)
                        .form-group.m-form__group
                          .input-group.m-input-group.m-input-group--square
                            .input-group-prepend
                              span.input-group-text
                                i.flaticon-browser
                            input.form-control.m-input(type='text' placeholder='Card Number' aria-describedby='basic-addon1' id='card_number_m' name='card_number')
                        .form-group.m-form__group
                          .input-group.m-input-group.m-input-group--square
                            .input-group-prepend
                              span.input-group-text
                                i.flaticon-calendar-3
                            input.form-control.m-input(type='text' placeholder='MM/YY' aria-describedby='basic-addon1' id='expire_date_m' name='expire_date')
                        .form-group.m-form__group
                          .input-group.m-input-group.m-input-group--square
                            .input-group-prepend
                              span.input-group-text
                                i.flaticon-lock-1
                            input.form-control.m-input(type='text' placeholder='CVC' aria-describedby='basic-addon1' id='cvc_m' name='cvc')
                        .row
                          .col-md-3.col-sm-1
                          .col-md-6.col-sm-6(style='text-align: center')
                            button#btn_monthly_subscription.btn.m-btn--pill.m-btn--gradient-from-danger(type='button' style='width: 80%; height: 40px; font-size: 100%;background:#ffad00;margin-top: 30px ')
                              | Subscription
                          .col-md-3.col-sm-1
                    .col-md-1.col-sm-1
            // finish::monthly Dialog
            // begin::yearly Dialog
            #yearlyModal.modal.fade(style='top: 25%;  position: absolute; ')
              .modal-dialog
                .modal-content
                  .row
                    .col-md-3.col-sm-3
                    .col-md-36.col-sm-6(style='padding-top: 30px; text-align: center')
                      img(src='/client/img/txt_yearly.png' alt='')
                    .col-md-3.col-sm-3(style='padding-right: 20px;')
                      button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                  .row.modal-body
                    .col-md-1.col-sm-1
                    .col-md-10.col-sm-10
                      form.m-login__form.m-form(style='width:100%' action='')
                        input(type='hidden' placeholder='userid' name='userid' id='userid' value=id)
                        input(type='hidden' placeholder='Email' id='email_y' name='email' value=email)
                        .form-group.m-form__group
                          .input-group.m-input-group.m-input-group--square
                            .input-group-prepend
                              span.input-group-text
                                i.flaticon-browser
                            input.form-control.m-input(type='text' placeholder='Card Number' aria-describedby='basic-addon1' id='card_number_y' name='card_number')
                        .form-group.m-form__group
                          .input-group.m-input-group.m-input-group--square
                            .input-group-prepend
                              span.input-group-text
                                i.flaticon-calendar-3
                            input.form-control.m-input(type='text' placeholder='MM/YY' aria-describedby='basic-addon1' id='expire_date_y' name='expire_date')
                        .form-group.m-form__group
                          .input-group.m-input-group.m-input-group--square
                            .input-group-prepend
                              span.input-group-text
                                i.flaticon-lock-1
                            input.form-control.m-input(type='text' placeholder='CVC' aria-describedby='basic-addon1' id='cvc_y' name='cvc')
                        .row
                          .col-md-3.col-sm-1
                          .col-md-6.col-sm-6(style='text-align: center')
                            button#btn_yearly_subscription.btn.m-btn--pill.m-btn--gradient-from-danger(type='button' style='width: 80%; height: 40px; font-size: 100%;background:#ffad00;margin-top: 30px ')
                              | Subscription
                          .col-md-3.col-sm-1
                    .col-md-1.col-sm-1
              // finish::yearly Dialog
          include template/layout_footer.pug
block script
  script(src='https://js.stripe.com/v2/' type='text/javascript')
  script(src='/client/js/subscriptions.js' type='text/javascript')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js' type='text/javascript')