foot
  .row
    .col-md-1.col-sm-1
    .col-md-2.col-sm-5
      p.text-style-1 GET JUSTREBOOT.IT UPDATES
      p.text-style-2
        | Enter your email address for updates about news in JUSTREBOOT.IT
    .col-md-2.col-sm-5
      p.text-style-1
      .row.input_email
        .col-md-8.col-sm-8.p-0
          input.btn.m-btn--pill.m-btn--gradient-to-warning(type='input' placeholder='email' style='width: 100%;height: 100%; font-size: 80%;text-align: left')
        .col-md-4.col-sm-4.p-0
          button.btn.m-btn--pill.m-btn--gradient-from-danger(type='button' style='width: 100%; height: 100%; font-size: 80%;background:#ffad00 ')
            | OK
    .col-md-1
    .col-md-2.col-sm-6
      p.text-style-1 FOLLOW US 
      .row.text-style-2.follow_us
        .col-md-2.col-sm-2
          a(href='https://www.facebook.com/')
            img(alt='' src='client/img/facebook.png')
        .col-md-2.col-sm-2
          a(href='https://twitter.com/')
            img(alt='' src='client/img/twiter.png')
        .col-md-2.col-sm-2
          a(href='https://www.google.com/')
            img(alt='' src='client/img/google.png')
        .col-md-2.col-sm-2
          a(href='https://www.linkedin.com/')
            img(alt='' src='client/img/linkedin.png')
        .col-md-1.col-sm-2
    .col-md-3.col-sm-4
      p.text-style-1 ABOUT JUSTREBOOT.IT 
      p.text-style-2 ABOUT
    .col-md-1.col-sm-1